/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-lorim-ipsm  {

}
.wp-block-cgb-block-lorim-ipsm .paragraphs {
    display:none;
}
.wp-block-cgb-block-lorim-ipsm .wordsPersentence {
    display:none;
}
.wp-block-cgb-block-lorim-ipsm .sentencesPerParagraph {
    display:none;
}
.wp-block-cgb-block-lorim-ipsm .randomSeed {
    display:none;
}
.wp-block-cgb-block-lorim-picture-ipsm .pictureWidth {
    display:none;
}
.wp-block-cgb-block-lorim-picture-ipsm .pictureHeight {
    display:none;
}
